# Ignore all HTML Files by default
# Until we are ready to publish them
*.html

# Explicit whitelist
!404.html
!about.html
!chess.html
!dark-chess.html
!demo.html
!euler-lagrange.html
!fischer-random.html
!greyline.html
!index.html
!ito.html
!julia.html
!reading-list.html
!site-info.html
!tex.html

# also ignore
.sshprofile
